etherscan.key
proxy.json
*/test.py
safe/src/
entry_point/src/
entry_point/account_deployed/
*.csv
url.private
sepolia_blocks.db
author_tvl.db
*.db-journal
sepolia/miaomi.txt
example/
*.pyc
sepolia/logs
mainnet/logs
mainnet_blocks.db
*node_modules/
*.umi/
*.husky/
temp/
*.db
logs_*
server/test.sh
backend/db.zip
backend/test*.sh
backend/check.sh
*.zip
*loop.log
server/updater_mysql_t.py
info_local/batch_update.sh
*/syncer_token.txt
test*.sh
*pending*.txt