etherscan.key
proxy.json
*/test.py
safe/src/
entry_point/src/
entry_point/account_deployed/
*.csv
url.private
sepolia_blocks.db
author_tvl.db
*.db-journal
sepolia/miaomi.txt
example/
*.pyc
sepolia/logs
mainnet/logs
mainnet_blocks.db
*node_modules/
*.umi/
*.husky/
temp/